* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 1660px;
    height: 100vh;
    overflow: hidden;
}

.valutesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.valutesList__item {
    padding: 5px;
    margin: 0 0 10px .9%;
    width: 18%;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
}

.nav {
    position: absolute;
    right: 94px;
    top: 40px;
    width: 124px;
}

.nav__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 8px;
    width: 100%;
}

.nav__box__item {
    padding: 5px .9%;
    margin-bottom: 5px;
    width: 60px;
    background-color: rgba(213, 213, 213, .3);
    backdrop-filter: blur(2px);
}

.nav__box__item:hover {
    cursor: pointer;
}

.active {
    display: none;
}

details:hover {
    cursor: pointer;
}

